<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permissão de Trabalho</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/telaPT/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>

     
    <div class="container">
       <h1>Permissão de Trabalho: <%= dadosPermissaoDeTrabalho.PT %> </h1>
       
       <section>
        <p>Status: <span class='status' style="text-transform: capitalize;"><%= dadosPermissaoDeTrabalho.status_pt %></span></p>
       </section>

       <section id="autor-pt">
            <p>Autor: <span> <%= dadosPermissaoDeTrabalho.nome_emissor %></span></p>
            <p>Matrícula: <span> <%= dadosPermissaoDeTrabalho.emissor %> </span></p>
            <p>Função: <span><%= dadosPermissaoDeTrabalho.funcao_emissor %></span></p>
       </section>



       <section id="ordem-servico">
            <div class="titulo-bloco-conteudo">
                <h2>Ordem de serviço</h2>
            </div>
            
            <div class="bloco-conteudo duas-colunas">

                <div class="conteudo-esquerda">

                    <div class="linha-conteudo">
                        <h3>Número da Ordem de Serviço</h3>
                        <p><%= dadosPermissaoDeTrabalho.ordem_servico %></p>  
                    </div>
                    
                    <div class="linha-conteudo">
                        <h3>Descrição da Ordem de Serviço</h3>
                        <p><%= dadosPermissaoDeTrabalho.descricao %></p>
                    </div>
        
                </div>

                <div class="conteudo-direita">

                    <div class="bloco-conteudo-interno duas-colunas">

                        <div class="linha-conteudo">
                            <div class="conteudo-esquerda">
                                <h3>Data de Início Previsto</h3>
                                <p><%= dadosPermissaoDeTrabalho.data_inicio_previsto %></p>
                            </div>
                        </div> 

                        <div class="linha-conteudo">
                            <div class="conteudo-direita">
                                <h3>Data de Término Previsto</h3>
                                <p><%= dadosPermissaoDeTrabalho.data_termino_previsto %></p>
                            </div>
                        </div>

                    </div>
                    
                    <div class="bloco-conteudo-interno duas-colunas">

                        <div class="linha-conteudo">
                            <h3>Local de Execução do Serviço</h3>
                            <p><%= dadosPermissaoDeTrabalho.local_servico %></p>
                        </div>

                        <div class="linha-conteudo">
                            <h3 class="legenda-inline">Área restrita: </h3>
                            <span>
                                <% if(dadosPermissaoDeTrabalho.area_restrita == 'true'){%>
                                    Sim
                                <%}else{%>
                                    Não
                                <%}%>
                            </span>
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>

        <section class="profissionais">

            <div class="titulo-bloco-conteudo">
                <h2>Equipe autorizada para a execução do serviço</h2>
            </div>

            <div class="bloco-conteudo">
                
                <h3>ENCARREGADO</h3>
                
                <div class="quatro-colunas-profissionais">
                    <div class="linha-conteudo">
                        <h3>Matrícula: </h3>
                        <% for(let i = 0; i < dadosPermissaoDeTrabalho.funcionarios.length; i++ ){%>
                            <% if(dadosPermissaoDeTrabalho.funcionarios[i].funcao == "Encarregado"){%>
                            <p> <%= dadosPermissaoDeTrabalho.funcionarios[i].matricula %></p> 
                    </div>
    
                    <div class="linha-conteudo">
                        <h3>Nome: </h3>
                        <p><%= dadosPermissaoDeTrabalho.funcionarios[i].nome %></p> 
                    </div>

                    <div class="linha-conteudo">
                        <h3>Anuência: </h3>
                        <% if(dadosPermissaoDeTrabalho.funcionarios[i].ciente == "true") {%>
                        <p>De acordo</p>
                        <% }else{ %>
                        <p style="color: red">FALTA ANUÊNCIA</p>
                        <% } %>
                    </div>

                    <div class="linha-conteudo">
                        <h3>Empresa</h3>
                        <p><%= dadosPermissaoDeTrabalho.funcionarios[i].empresa %></p>
                        <% }} %>
                    </div>
                </div>

                <hr></hr>

                <h3>PROFISSIONAIS</h3>
                
                <table class="tabela-profissionais">
                    <tr>
                        <th><h3>Matrícula</h3></th>
                        <th><h3>Nome</h3></th>
                        <th><h3>Função</h3></th>
                        <th><h3>Anuência</h3></th>
                        <th><h3>Empresa</h3></th>
                    </tr>
                    <% for(let j = 0; j < dadosPermissaoDeTrabalho.funcionarios.length; j++ ) {%>
                        <% if(dadosPermissaoDeTrabalho.funcionarios[j].funcao != "Encarregado"){%>
                    <tr>
                        <td><p><%= dadosPermissaoDeTrabalho.funcionarios[j].matricula %></p></td>
                        <td><p><%= dadosPermissaoDeTrabalho.funcionarios[j].nome %></p></td>
                        <td><p><%= dadosPermissaoDeTrabalho.funcionarios[j].funcao %></p></td>
                        <% if(dadosPermissaoDeTrabalho.funcionarios[j].ciente == "true") { %>
                        <td><p>De acordo</p></td>
                        <%}else{%>
                        <td><p style="color: red">FALTA ANUÊNCIA</p></td>
                        <%}%>
                        <td><p><%= dadosPermissaoDeTrabalho.funcionarios[j].empresa %></p></td>
                    </tr>
                    <%}}%>
                </table>

            </div>
        </section>

        <section class="riscos">
            
            <div class="titulo-bloco-conteudo">
                <h2>Riscos envolvidos</h2>
            </div>

            <div class="bloco-conteudo tres-colunas">
                <% for(let k = 0; k < dadosPermissaoDeTrabalho.riscos.length; k++) {%>
                <div class="linha-conteudo">
                    <p>▶ <%= dadosPermissaoDeTrabalho.riscos[k].descricao_risco %></p>
                </div>
                <% } %>
            </div>

        </section>


        <section class="perigos">

            <div class="titulo-bloco-conteudo">
                <h2>Perigos potenciais</h2>
            </div>

            <div class="bloco-conteudo tres-colunas">
                <% for(let l = 0; l < dadosPermissaoDeTrabalho.perigos.length; l++) {%>
                <div class="linha-conteudo">
                    <p>▶ <%= dadosPermissaoDeTrabalho.perigos[l].descricao_perigo %></p>
                </div>
                <% } %>
            </div>

        </section>

        <section class="equipamentos">

            <div class="titulo-bloco-conteudo">
                <h2>Equipamentos de Proteção Individual/Coletivo Necessários</h2>
            </div>

            <div class="bloco-conteudo tres-colunas">
                <% for(let m = 0; m < dadosPermissaoDeTrabalho.equipamentos.length; m++) {%>
                <div class="linha-conteudo">
                    <p>▶ <%= dadosPermissaoDeTrabalho.equipamentos[m].descricao_equipamento %></p>
                </div>
                <% } %>
            </div>

        </section>

        <section class="medidas-preventivas">

            <div class="titulo-bloco-conteudo">
                <h2>Medidas Preventivas</h2>
            </div>

            <div class="bloco-conteudo tres-colunas">
                <% for(let n = 0; n < dadosPermissaoDeTrabalho.medidasPreventivas.length; n++) {%>
                <div class="linha-conteudo">
                    <p>▶ <%= dadosPermissaoDeTrabalho.medidasPreventivas[n].descricao_medida_preventiva %></p>
                </div>
                <% } %>
            </div>

        </section>

        <div class="botao-emissao">
            <button type="submit">ELABORAR LÓGICA DE BOTÕES</button>
        </div>

    </div>     

    <script src="/js/novaPT/scripts.js"></script>

</body>
</html>