<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/listas/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <title>Lista de Usuários</title>
</head>
<body> 
    
    <div class="duas-colunas-lista">

        <aside class="container">

            <form action="" method="post">

                <h3>Matrícula</h3>
                <input type="text" name="matricula" />

                <h3>Nome</h3>
                <input type="text" name="nome" />

                <h3>Função</h3>
                <select name="funcao">
                    <option>------</option>
                    <option value="Administrador de Sistema">Administrador de Sistema</option>
                    <option value="Eletricista">Eletricista</option>
                    <option value="Encarregado">Encarregado</option>
                    <option value="Técnico de Segurança no Traballho">Técnico de Segurança no Traballho</option>
                </select>

                <div class="botao">
                    <button type="submit">Buscar</button>
                </div>


            </form>
        </aside>
        
        <div class="container">
            
            <h1>Usuários cadastrados no sistema</h1>

            <table id="tabela">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Empresa</th>
                        <th>Perfil</th>
                        <th>Visualizar detalhes</th>
                        <th>Excluir perfil</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% for(let i = 0; i < listaDeUsuarios.length; i++) {%>
                    <tr>
                        <th><%= listaDeUsuarios[i].matricula %></th>
                        <th><%= listaDeUsuarios[i].nome %></th>
                        <th><%= listaDeUsuarios[i].funcao %></th>
                        <th><%= listaDeUsuarios[i].empresa %></th>
                        <th><%= listaDeUsuarios[i].perfil %></th>
                        <th><a href="">Visualizar</a></th>
                        <th><a href="">Excluir</a></th>
                    </tr>
                    <% } %>

                </tbody>
            </table>

        </div>
    
    </div>

    <script src="/js/listas/scripts.js"></script>
</body>
</html>