<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/listas/styles.css">
    <link rel="stylesheet" href="/css/usuarios/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <title>Lista de Usuários</title>
</head>
<body> 

    <div class="topnav">

        <a href="http://localhost:3000/">Log Out</a>
    
        <a href="http://localhost:3000/lista-usuarios">Página incial</a>

    </div>

    <div class="duas-colunas-lista">

        <aside class="container">

            <form action="" method="post">

                <h3>Matrícula</h3>
                <input type="text" name="matricula" />

                <h3>Nome</h3>
                <input type="text" name="nome" />

                <h3>Função</h3>
                <select name="funcao">
                    <option value="">------</option>
                    
                    <% for(let i = 0; i < listaDeFuncoes.length; i++) {%>
                    <option value="<%= listaDeFuncoes[i].funcao %>"><%= listaDeFuncoes[i].funcao %></option>
                    <% } %>
                </select>

                <h3>Perfil</h3>
                <select name="perfil">
                    <option value="">------</option>
                    <option value="adm">Administrador do Sistema</option>
                    <option value="encarregado-manutencao">Encarregado de Manutenção</option>
                    <option value="fiscal">Fiscal</option>
                    <option value="profissional-seguranca">Profissional de Segurança no Trabalho</option>
                    <option value="tecnico-manutencao">Técnico de Manutenção</option>
                    
                </select>

                <div class="botao">
                    <button type="submit">Buscar</button>
                    <button onclick="location.href='http://localhost:3000/lista-usuario'">Limpar</button>
                </div>


            </form>
        </aside>
        
        <div class="container">

            <div id="duas-colunas-titulo">

                <h1>Usuários cadastrados no sistema</h1>

                <button id="botao-usuario">Criar Novo Usuário</button>

            </div>
            
            

            <table id="tabela">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Empresa</th>
                        <th>Perfil</th>
                        <th>Visualizar detalhes</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% for(let i = 0; i < listaDeUsuarios.length; i++) {%>
                    <tr>
                        <th><%= listaDeUsuarios[i].matricula %></th>
                        <th><%= listaDeUsuarios[i].nome %></th>
                        <th><%= listaDeUsuarios[i].funcao %></th>
                        <th><%= listaDeUsuarios[i].empresa %></th>
                        <th><%= listaDeUsuarios[i].perfil %></th>
                        <th><a href="">Visualizar</a></th>
                    </tr>
                    <% } %>

                </tbody>
            </table>

        </div>
    
    </div>

    <script src="/js/listas/scripts.js"></script>
</body>
</html>